<div class="page-header">
  <h3>Share the Fare</h3>
</div>

<div class='row'>
	<a href="https://secure.splitwise.com/authorize?oauth_token={{token}}" name="splitwise" class="btn btn-primary payment" target='_blank' > Check my splitwise balance</a>
</div>

